@keyframes plusoneanim {
    0% { opacity: 0; }
    5% { opacity: 1; }
    70% { opacity: 1; }
    99% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translateY(0); }
}
* {
    box-sizing: border-box;
}
body{
    background: #edc27e url("rain.gif");
    color: #552c10;
    font-family: sans-serif;
}
h1 {
    margin: 0;
    padding: .66em;
}
.box {
    display: block;
    background: rgba(255,255,255,.7);
    text-align: center;
    max-width: 500px;
    border-radius: 4px;
    margin: 15px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    overflow: hidden;
}
#score, #multiplicator {
    background: rgba(255,255,255,.7); 
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
}
.plusOne, .plusTime {
    position: absolute;
    top: 200px;
    left: 51%;
    display: block;
    width: auto;
    font-size: 1em;
    font-weight: 700;
    color: firebrick;
    padding: 10px;
    border-radius: 2px;
    opacity: 0;
    text-shadow: 0 0 2px white;
}
.plusTime {
    top: 250px;
    left: 53%;
    color: forestgreen;
}
#cookie_clicker {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .25s cubic-bezier(.68,-0.55,.27,1.55);
}
#cookie_clicker:hover {
    transform: scale(.9);
    cursor: pointer;
}
#cookie_clicker:active {
    transform: scale(.9) translateY(5px);
}
#iloveyou {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
#shop {
    overflow-x: scroll;
    margin-bottom: 14px;
    overflow: -moz-scrollbar-none;
}
#shop::-webkit-scrollbar {
    display: none;
}
#buy {
    display: block;
    margin: 0;
    height: 100px;
    padding-left: 0;
    list-style: none;
    min-width: 500px;
}
button {
    float: left;
    margin: 5px;
    width: 114.5px;
    
    height: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: all .25s cubic-bezier(.68,-0.55,.27,1.55);
}
button span {
    font-style: italic;
}
button:hover {
    cursor: pointer;
    transform: scale(.9);
}
.multi {
    background-color: sandybrown;
    color: chocolate;
}
.time {
    background-color: firebrick;
    color: orange;
}