{% extends "WebsitePortfolioBundle:Default:template/base.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block sections %}
<section class="fullh">
  <h2 class="error">(WHY'D) What have you done ?! :/</h2>
  <p>There's nothing here, this page doesn't exist, you broke something, forbidden access, work in progress AND the document that you're looking for can not be found.</p>
  <a href="./" class="btn smallbtn">Return to battle</a>
  <a href="#contact" class="btn smallbtn contactlink">Contact me</a>
</section>

{% endblock %}